<!DOCTYPE html>
<html>
<head class='use-all-space'>
  <title>HAPPY HAPPY HOUR</title>
  <meta http-equiv='X-UA-Compatible' content='IE=Edge' />
  <meta charset='UTF-8'>
  <title>Maps SDK for Web - Vector map</title>
  <meta name='viewport'
        content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no'/>
  <link rel='stylesheet' type='text/css' href='https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.45.0/maps/maps.css'>
  <link rel="stylesheet" type="text/css" href="/static/map.css">
</head>




<body>

<h1>HAPPY HAPPY HOUR</h1>
<h2>Navigation: Menu Search</h2>

<h2>Home</h2>

<form id="search" action="/map" >
  Search stocks by location 
  <input  type="text" name="location" value="e.x. 47 blossom ct">
  <button type="submit">search</button>
</form>

<div id='map' class='map'></div>

<br><br><br>

<footer>
  TOMTOM challenge<br>
  Copyright@2020<br>
  <a href="https://github.com/nancydyc">
  Github</a> | 
  <a href="https://www.linkedin.com/in/yichen-dai-20557a195/">
  LinkedIn</a>
</footer>

<script src='https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.45.0/maps/maps-web.min.js'>
</script>
<script>
    var map = tt.map({
        key: 'tz1ptALiZKB6nDN1PZBfjxiGi39e1i8z',
        container: 'map',
        style: 'tomtom://vector/1/basic-main',
    });
    map.addControl(new tt.FullscreenControl());
    map.addControl(new tt.NavigationControl());
</script>
</body>
</html>

