{% extends "base.html" %}
{% block content %}
    <div>
        <h1>
            Restaurants: Sign In or Register Below
        </h1>
    </div>
    <div>
        <h3>Sign In:</h3>
        <form action="/restaurant" method="POST">
            <p>
                <input type="email" required name="email" placeholder="Email address">
            </p>
            <p>
                <input type="password" required name="password" placeholder="Password">
            </p>
            <p>
                <input type="submit" value="Log In">
            </p>
        </form>
        <p>Not registered?</p>
        <p><a href="/register">Register Your Restaurant</a></p>
    </div>
{% endblock %}